[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/elephants"]
	path = themes/elephants
	url = https://github.com/meibenny/elephants.git
[submodule "themes/plain"]
	path = themes/plain
	url = https://github.com/i3h/plain.git
